<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219143338185-0mi8tp9qe68mle6t4dn6g0i4v9455em6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219143338185-0mi8tp9qe68mle6t4dn6g0i4v9455em6</string>
	<key>API_KEY</key>
	<string>AIzaSyC0sUvhB3WCTAAWBHB5rqWTCz_ynXYD00s</string>
	<key>GCM_SENDER_ID</key>
	<string>219143338185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prayertime</string>
	<key>PROJECT_ID</key>
	<string>expopharma-20c26</string>
	<key>STORAGE_BUCKET</key>
	<string>expopharma-20c26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219143338185:ios:4ba4a4bba1591b859bb518</string>
	<key>DATABASE_URL</key>
	<string>https://expopharma-20c26-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>